.has-open-tbody-modal,
.has-open-tbod-ymodal body {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-size: 0;
  visibility: hidden;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal_in {
  visibility: visible;
}

.modal__backdrop {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal__content {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  animation-fill-mode: both;
}
