@mixin default-skin-tbody-modal($options) {

  .modal {
    opacity: 0;
    transition: all ease-out .5s;
    z-index: #{map-get($options, z-index)};;
  }

  .modal_in {
    opacity: 1;
  }

  .modal__backdrop {
    background: #{map-get($options, backdrop-background)};
  }

  .modal__content {
    width: 95%;
    max-width: 500px;
    margin: 3rem 0;
    padding: 1rem;
    background: #{map-get($options, content-background)};
    animation-duration: #{map-get($options, content-animation-duration)};
  }

  .modal_small .modal__content {
    max-width: 300px;
  }

  .modal_big .modal__content {
    max-width: 900px;
  }

  .modal_in .modal__content {
    animation-name:#{map-get($options, content-animationIn)};
  }

  .modal_out .modal__content {
    animation-name:#{map-get($options, content-animationOut)};
  }

  .modal__close {

    position: absolute;
    top: 0.3rem;
    right: 0.5rem;

    padding: 0;

    cursor: pointer;
    opacity: 0.6;
    border: none;
    background: none;
    font-size: 1rem;
    user-select: none;
  }

  .modal__close:hover {
    opacity: 1;
  }

  .modal__close:active,
  .modal__close:focus {
    outline: none;
  }

}