.has-open-tbody-modal,
.has-open-tbod-ymodal body {
  overflow: hidden;
  height: 100%;
  position: relative; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
  visibility: hidden;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden; }

.modal::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.modal_in {
  visibility: visible; }

.modal__backdrop {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.modal__content {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes slideInTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    visibility: visible;
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    visibility: visible;
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@-webkit-keyframes slideOutDown {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }

@keyframes slideOutDown {
  from {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }

.modal {
  opacity: 0;
  -webkit-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
  z-index: 1000; }

.modal_in {
  opacity: 1; }

.modal__backdrop {
  background: rgba(0, 0, 0, 0.5); }

.modal__content {
  width: 95%;
  max-width: 500px;
  margin: 3rem 0;
  padding: 1rem;
  background: #fff;
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; }

.modal_small .modal__content {
  max-width: 300px; }

.modal_big .modal__content {
  max-width: 900px; }

.modal_in .modal__content {
  -webkit-animation-name: scaleIn;
          animation-name: scaleIn; }

.modal_out .modal__content {
  -webkit-animation-name: scaleOut;
          animation-name: scaleOut; }

.modal__close {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.6;
  border: none;
  background: none;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.modal__close:hover {
  opacity: 1; }

.modal__close:active,
.modal__close:focus {
  outline: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #444; }

header {
  background-image: -webkit-gradient(linear, left top, right top, from(#acc4ff), to(#33bdff));
  background-image: -webkit-linear-gradient(left, #acc4ff 0%, #33bdff 100%);
  background-image: -o-linear-gradient(left, #acc4ff 0%, #33bdff 100%);
  background-image: linear-gradient(to right, #acc4ff 0%, #33bdff 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative; }

.pic {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -1.5rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

.pic img {
  display: block;
  width: 100%;
  height: 100%; }

.pic:hover {
  background-color: #fff; }

h1 {
  color: #fff;
  font-size: -webkit-calc(3rem + 1vw);
  font-size: calc(3rem + 1vw); }

h2 {
  font-size: 2rem;
  text-align: center; }

h3 {
  font-size: 1.75rem;
  text-align: center; }

main {
  width: 100%;
  padding: 3rem 1rem;
  overflow: hidden;
  text-align: center; }

@media screen and (min-width: 1440px) {
  main {
    padding: 5rem -webkit-calc(50vw - 720px);
    padding: 5rem calc(50vw - 720px); } }

.modal__content {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.form {
  max-width: 30rem;
  margin: 0 auto; }

input[type="text"],
input[type="tel"],
select {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  min-height: 2.375rem;
  background-color: #fff;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
  border: 1px solid #ccc;
  font-size: 1rem; }

.group {
  margin-bottom: 2rem;
  position: relative; }

button {
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
  color: #fff;
  cursor: pointer; }

.open {
  background-color: #4271ae; }

.open:hover {
  background-color: #0095dd; }

.close {
  background-color: forestgreen; }

.close:hover {
  background-color: seagreen; }
