@import "../src/styles/style";
@import "../src/styles/skins/default";
@import "../src/styles/animations/slideInTop";
@import "../src/styles/animations/scaleIn";
@import "../src/styles/animations/scaleOut";
@import "../src/styles/animations/slideOutDown";

@include default-skin-tbody-modal((
  z-index: 1000,
  content-animation-duration: .35s,
  content-animationIn: scaleIn,
  content-animationOut: scaleOut,
  backdrop-background: rgba(0, 0, 0, .5),
  content-background: #fff,
));

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #444;
}

header {
  background-image: linear-gradient(to right, #acc4ff 0%, #33bdff 100%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.pic {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -1.5rem;
  border-radius: 50%;
  transition: all ease-out 0.3s;
}

.pic img {
  display: block;
  width: 100%;
  height: 100%;
}

.pic:hover {
  background-color: #fff;
}

h1 {
  color: #fff;
  font-size: calc(3rem + 1vw);
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
}

main {
  width: 100%;
  padding: 3rem 1rem;
  overflow: hidden;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  main {
    padding: 5rem calc(50vw - 720px);
  }
}

.modal__content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.form {
  max-width: 30rem;
  margin: 0 auto;
}

input[type="text"],
input[type="tel"],
select {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  min-height: 2.375rem;
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.group {
  margin-bottom: 2rem;
  position: relative;
}

button {
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
}

.open {
  background-color: #4271ae;
}

.open:hover {
  background-color: #0095dd;
}

.close {
  background-color: forestgreen;
}

.close:hover {
  background-color: seagreen;
}

